html {    
    background-image: url('http://guide.couchdb.org/image/bg/base.png');
    background-repeat: repeat;
    background-color: #e6e6e6;
}

body {
    font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}

#title {
    font-weight: normal;
    font-size: 2.5em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
}

#subtitle {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 3px;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}

#site {
    width: 940px;
    margin: 10px auto 0px auto;
}

#toc {
    font-weight: normal;
}

.content {
    background-color: #fff;
    padding: 15px 30px;
}

.bookcover {
    width: 240px;
    float: right;
    padding-left: 15px;
}

.clearall {
    clear: both;
}