<h1>Introduction</h1>

<h2>For whom is this book intended?</h2>
<p>
  Hackers. Anyone can go online and read the Python API. This guide is
  not intended to teach you Python but rather to share the lesser
  known secrets about the Python programming language, help you better
  master the language, and identify the strengths and weaknesses of
  the language. Learn elegant solutions to common python problems, all
  in one convenient place and with clear explanations. Discover
  popular python modules for nearly any task, follow easy steps for
  module installation and configuration, and browse through runnable
  example code. The authors wrote this guide for advanced programmers
  who are sick of looking through multiple sites to learn the best way
  to accomplish common tasks in python.
</p>

<h2>Why use Python?</h2>
<p>
  Python is a dynamically typed, multi-paradigm, interpreted language
  with a REPL (read, evaluate, print, loop) for rapid
  development. This means the language is structured to support many
  different problem solving techniques and approached (such as an
  object oriented, functional, or imperative approach). Python’s
  dynamic typing allows for automatic interpretation and resolution of
  data types so variables do not have to be explicitly typed. Overall,
  these features make Python easy for getting started without limiting
  a programmer’s ability to be expressive. While these features do
  make Python a rapid development environment, it does come at a
  cost. Interpretation demands additional computation at run time
  (versus most compiled languages where typing is traditionally
  performed at compiled time).  For example, the following figure
  shows the run time speed of Python 3 versus Java 6-server on a
  variety of tests. [Information gathered from:
  http://shootout.alioth.debian.org/u64/python3.php]
</p>
