$def with(content)

<html>
  <head>
    <link rel="stylesheet" href="/static/css/shared.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/book.css" type="text/css" media="all"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/static/js/book.js"></script>
  </head>
  <body>
    <div id="book">
      <!-- Chapter -->
      <h1 class="chapter">$content.get('title', '')</h1>

      <!-- Nav -->
      <div id="nav">
	<ol>
	  <li><a href="#">audiance</a></li>
	  <li><a href="#">mission</a></li>
	  <li><a href="#">thanks</a></li>
	  <li><a href="#">references</a></li>
	</ol>
      </div>

      <!-- Content -->
      <div class="page">
	$:content
      </div>
      <div class="turn-page"></div>
    </div>
  </body>
</html>
