$def with()

<html>
  <head>
    <title>Practical Python</title>
    <meta name="description" content="By Mek; Hyperink 2012, ISBN 9781614642411. Practical Python is the fastest way to learn python tricks." />
    <meta name="keywords" content="Python,Practical Python,programming,hacks,learning"/>
    <link rel="stylesheet" href="/static/css/template.css" type="text/css" media="all"/>
  </head>

  <body>    
    <div id="site">
      <h1 id="title">Practical Python</h1>
      <h2 id="subtitle">A Guide to Better Python</h2>
      <div class="content shadow rounded">
	<p>
	  <div>
	    <p>
	      Mek has 
	    </p>
	  </div>
	</p>
      </div>
    </div>
  </body>

</html>
