$def with()

<html>
  <head>
    <title>Practical Python</title>
    <meta name="description" content="By Mek; Hyperink 2012, ISBN 9781614642411. Practical Python is the fastest way to learn python tricks." />
    <meta name="keywords" content="Python,Practical Python,programming,hacks,learning"/>
    <link rel="stylesheet" href="/static/css/template.css" type="text/css" media="all"/>
  </head>

  <body>    
    <div id="site">
      <h1 id="title">Practical Python</h1>
      <h2 id="subtitle">A Guide to Better Python</h2>
      <div class="content shadow rounded">
	<p>
	  <div>
	    <img class="bookcover" src="/static/imgs/practical-python.png" alt="Practical Python Bookcover"/>
	    <p>
	      This primer intends to improve one's Py-foo by
	      presenting patterns, strategies, techniques, and best
	      practice for solving every day problems, efficiently, in
	      Python.
	    </p>

	    <h3 id="toc">Table of Contents</h3>
	    <ul>
	      
	    </ul>
	  </div>
	  <div class="clearall">
	  </div>
	</p>
      </div>
    </div>
  </body>

</html>
